service: qscore

plugins:
  - serverless-dynamodb-local
  - serverless-offline
  - serverless-bundle

package:
  individually: true

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:DescribeStream
        - dynamodb:ListStreams
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:*" 
    - Effect: Allow
      Action:
        - cognito-idp:adminGetUser
        - cognito-idp:adminCreateUser
        - cognito-idp:adminAddUserToGroup
        - cognito-idp:adminSetUserPassword
      Resource: "arn:aws:cognito-idp:${opt:region, self:provider.region}:*:*"
  environment:
    GEOFENCE_EVENTS_TABLE_NAME: ${self:custom.geofenceEventsTableName}
    USERS_TABLE_NAME: ${self:custom.usersTableName}
    FIREBASE_DATABASE_URL: ${self:custom.secrets.FIREBASE_DATABASE_URL}

functions:
  graphql:
    handler: handler.graphqlHandler
    events:
    - http:
        path: graphql
        method: post
        cors: true
        authorizer:
          name: firebaseAuthorizer
    - http:
        path: graphql
        method: get
        cors: true
        
  firebaseAuthorizer:
    handler: auth/firebaseAuthorizer.handler
    cors: true

  updateScore:
    handler: score/updateScore.handler
    events:
    - stream:
        type: dynamodb
        arn:
          Fn::GetAtt:
            - GeofenceEventsTable
            - StreamArn

custom:
  secrets: ${file(environment.json)}
  accountId: { Ref: AWS::AccountId }
  dynamodb:
    start:
      port: 8000
      inMemory: true
      migrate: true
      seed: false
    stages:
      - dev
  webpackIncludeModules: true
  stage: ${opt:stage, self:provider.stage}
  geofenceEventsTableName: ${self:custom.stage}-GeofenceEvents
  usersTableName: ${self:custom.stage}-UsersTable

resources:
  Resources:
    GeofenceEventsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.geofenceEventsTableName}
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
          - AttributeName: userId
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1 
        GlobalSecondaryIndexes:
          - IndexName: time-index
            KeySchema:
              - AttributeName: userId
                KeyType: HASH
              - AttributeName: timestamp
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usersTableName}
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
