service: qscore

plugins:
  - serverless-webpack
  - serverless-dynamodb-local
  - serverless-offline

package:
  individually: true
  excludeDevDependencies: false

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:DescribeStream
        - dynamodb:ListStreams
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:*" 
    - Effect: Allow
      Action:
        - cognito-idp:adminGetUser
        - cognito-idp:adminCreateUser
        - cognito-idp:adminAddUserToGroup
        - cognito-idp:adminSetUserPassword
      Resource: "arn:aws:cognito-idp:${opt:region, self:provider.region}:*:*"
  environment:
    GEOFENCE_EVENTS_TABLE_NAME: ${self:custom.geofenceEventsTableName}
    USERS_TABLE_NAME: ${self:custom.usersTableName}
    USERS_TABLE_V2: ${self:custom.usersV2TableName}
    FIREBASE_DATABASE_URL: ${self:custom.secrets.FIREBASE_DATABASE_URL}

functions:
  graphql:
    handler: src/graphql/handler.graphqlHandler
    events:
    - http:
        path: graphql
        method: post
        cors: true
        authorizer:
          name: firebaseAuthorizer
    - http:
        path: graphql
        method: get
        cors: true
        
  firebaseAuthorizer:
    handler: src/auth/firebaseAuthorizer.handler
    cors: true

  # updateScore:
  #   handler: score/updateScore.handler
  #   events:
  #   - stream:
  #       type: dynamodb
  #       arn:
  #         Fn::GetAtt:
  #           - GeofenceEventsTable
  #           - StreamArn

custom:
  secrets: ${file(environment.json)}
  accountId: { Ref: AWS::AccountId }
  stage: ${opt:stage, self:provider.stage}
  geofenceEventsTableName: ${self:custom.stage}-GeofenceEvents
  usersTableName: ${self:custom.stage}-UsersTable
  usersV2TableName: ${self:custom.stage}-Users-v2
  webpackIncludeModules: true
  webpack:
    webpackConfig: 'webpack.config.js'
    packager: 'npm'
    includeModules: true
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      migrate: true
      seed: true
    seed:
      domain: #name of seed
        sources:
          - table: ${self:custom.usersV2TableName}
            sources: [./test/seed/usersV2.json]

resources:
  Resources:
    UsersTableV2:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usersV2TableName}
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: GS1PK
            AttributeType: S
          - AttributeName: GS1SK
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          - IndexName: GS1
            KeySchema:
              - AttributeName: GS1PK
                KeyType: HASH
              - AttributeName: GS1SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
